<div id="top" data-spy="scroll" data-target=".navbar-collapse">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <a  href="#"> <img src="../../assets/images/top.jpg"  class="avatar " alt="logo"></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" class="smoothScroll">تواصل معنا</a></li>
                <li><a href="#" class="smoothScroll">دروس تعليمية </a></li>
                <li><a href="#" class="smoothScroll">خدماتنا</a></li>
                <li><a href="#" class="smoothScroll">عروض التسجيل</a></li>
                <li><a href="#" class="smoothScroll">الكادر التدريسي </a></li>
                <li><a href="#" class="smoothScroll">اﻻنشطة</a></li>
                <li><a href="#home" class="active"class="smoothScroll"   >الصفحة الرئيسية</a></li>
            </ul>
        </div>
    </div>
</nav>
 <!-- الصفحة الرئيسيةالبداية  -->
<section id="home" class="text-center">
        <div class="templatemo_headerimage">
          <div class="flexslider">
            <ul class="slides">
              <li>
                  <img src="../../assets/images/Optimized-7.jpg" alt="Slide 1" width="450" height="600">
                  <div class="slider-caption">
                      <div class="templatemo_homewrapper">
                        <h1>Creative Web Design Agency</h1>
                        <h2>Web Design &amp; code your dream</h2>
                          <a href="#portfolio" class="smoothScroll templatemo-slider-btn btn btn-default">Learn More</a>
                      </div>
                    </div>
              </li>
              <li>
                    <img src="../../assets/images/child3.jpg" alt="Slide 1" width="450" height="600">
                    <div class="slider-caption">
                        <div class="templatemo_homewrapper">
                          <h1>Creative Web Design Agency</h1>
                          <h2>Web Design &amp; code your dream</h2>
                            <a href="#portfolio" class="smoothScroll templatemo-slider-btn btn btn-default">Learn More</a>
                        </div>
                      </div>
                </li>
              <li>
                  <img src="../../assets/images/Optimized-intrfac(1).jpg" alt="Slide 2" width="450" height="600">
                  <div class="slider-caption">
                      <div class="templatemo_homewrapper">
                        <h1>Flex Slider, CSS Flexbox</h1>
                        <h2>Work on all modern browsers, IE 10+</h2>
                          <a href="#team" class="smoothScroll templatemo-slider-btn btn btn-default">Meet Our Team</a>	
                      </div>
                    </div>
              </li>
              <li>
                  <img src="../../assets/images/8.jpg" alt="Slide 3"width="450" height="600">
                  <div class="slider-caption">
                      <div class="templatemo_homewrapper">
                            <h1>Special Thanks</h1>
                            <h2>unsplash.com, flexslider, bootstrap, jquery</h2>
                          <a href="#about" class="smoothScroll templatemo-slider-btn btn btn-default">About Us</a>	
                      </div>
                    </div>
              </li>
              <li>
                <img src="../../assets/images/6.jpg" alt="Slide 3"width="450" height="600">
                <div class="slider-caption">
                    <div class="templatemo_homewrapper">
                          <h1>Special Thanks</h1>
                          <h2>unsplash.com, flexslider, bootstrap, jquery</h2>
                        <a href="#about" class="smoothScroll templatemo-slider-btn btn btn-default">About Us</a>	
                    </div>
                  </div>
            </li>
            </ul>
          </div>
        </div>				
      </section>
      <!-- الصفحة الرئيسية النهاية  -->
      <!--  البداية اﻻنشطة -->
<section id="contact" class="text-center">
  
       <div class="container">
            
            <h2> انشطة مدرستنا</h2>
           
            <div class="main">
                <!-- NINTH EXAMPLE -->
                <div class="view view-ninth">
                    <img src="../../assets/images/p4.jpg" />
                    <div class="mask mask-1"></div>
                    <div class="mask mask-2"></div>
                    <div class="content">
                        <h2>مدارس القمة اﻻهليه</h2>
                        <p></p>
                       
                    </div>
                </div>
                <div class="view view-ninth">
                    <img src="../../assets/images/p8.jpg" />
                    <div class="mask mask-1"></div>
                    <div class="mask mask-2"></div>
                    <div class="content">
                        <h2>Hover Style #9</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                        <a href="#" class="info">Read More</a>
                    </div>
                </div>
                <div class="view view-ninth">
                    <img src="../../assets/images/p7.jpg" />
                    <div class="mask mask-1"></div>
                    <div class="mask mask-2"></div>
                    <div class="content">
                        <h2>Hover Style #9</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                        <a href="#" class="info">Read More</a>
                    </div>
                </div>
                <div class="view view-ninth">
                    <img src="../../assets/images/p6.jpg" />
                    <div class="mask mask-1"></div>
                    <div class="mask mask-2"></div>
                    <div class="content">
                        <h2>Hover Style #9</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                        <a href="#" class="info">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
      </section>
       <!--  النهاية اﻻنشطة -->
      <!--   الكادر التدريسي البداية -->
  <section id="team" class="text-center">
      
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h2>MEET THE TEAM</h2>
                    <p>Etiam elementum laoreet mauris. Ut rutrum feugiat neque. Suspendisse viverra gravida nulla. Duis sed enim vitae metus nonummy venenatis. Curabitur semper rutrum sapien. Mauris luctus.</p>
                </div>
                <div class="col-md-12"></div>
                <div class="col-sm-6 col-md-3">
                    <img src="../../assets/images/fuad.jpg" class="img-responsive" alt="team 1">
                        <h3>فؤاد وارد</h3>
                        <p>مدرس الكيمياء</p>
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="../../assets/images/fuad.jpg" class="img-responsive" alt="team 2">
                        <h3>علاء كامل</h3>
                        <p>مدرس الفيزياء</p>
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="../../assets/images/fuad.jpg" class="img-responsive" alt="team 3">
                        <h3>حيدر شنيت</h3>
                        <p>مدرس اﻻنكليزي</p>
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="../../assets/images/fuad.jpg" class="img-responsive" alt="team 4">
                        <h3>LINDA</h3>
                        <p>MANAGER</p>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h2>MEET THE TEAM</h2>
                    <p>Etiam elementum laoreet mauris. Ut rutrum feugiat neque. Suspendisse viverra gravida nulla. Duis sed enim vitae metus nonummy venenatis. Curabitur semper rutrum sapien. Mauris luctus.</p>
                </div>
                <div class="col-md-12"></div>
                <div class="col-sm-6 col-md-3">
                    <img src="../../assets/images/fuad.jpg" class="img-responsive" alt="team 1">
                        <h3>فؤاد وارد</h3>
                        <p>مدرس الكيمياء</p>
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="../../assets/images/fuad.jpg" class="img-responsive" alt="team 2">
                        <h3>علاء كامل</h3>
                        <p>مدرس الفيزياء</p>
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="../../assets/images/fuad.jpg" class="img-responsive" alt="team 3">
                        <h3>حيدر شنيت</h3>
                        <p>مدرس اﻻنكليزي</p>
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="../../assets/images/fuad.jpg" class="img-responsive" alt="team 4">
                        <h3>LINDA</h3>
                        <p>MANAGER</p>
                </div>
            </div>
        </div>
    </section>
   <!--   الكادر التدريسي النهاية -->		
  <!-- start عروض التسجيل -->
  <section id="contact" >
        <div class="container">
                <div class="row">
                    
                        <div class="col-sm-6 col-md-3">
                            <div class="card">
                                    <img src="../../assets/images/ch2.jpg" class="card-img-top" alt="..."width="230" height="200">
                                    <div class="card-body">
                                      <h5 class="card-title">Card title</h5>
                                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    </div>
                                  </div>
                    </div>
       
                    
                    <div class="col-sm-6 col-md-3">
                            <div class="card">
                                    <img src="../../assets/images/ch2.jpg" class="card-img-top" alt="..."width="230" height="200">
                                    <div class="card-body">
                                      <h5 class="card-title">Card title</h5>
                                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    </div>
                                  </div>
                    </div>
                    
                    <div class="col-sm-6 col-md-3">
                            <div class="card">
                                    <img src="../../assets/images/ch2.jpg" class="card-img-top" alt="..."width="230" height="200">
                                    <div class="card-body">
                                      <h5 class="card-title">Card title</h5>
                                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    </div>
                                  </div>
                    </div>
                    
                    <div class="col-sm-6 col-md-3">
                            <div class="card">
                                    <img src="../../assets/images/ch2.jpg" class="card-img-top" alt="..."width="230" height="200">
                                    <div class="card-body">
                                      <h5 class="card-title">Card title</h5>
                                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    </div>
                                  </div>
                    </div>
            </div>
        </div>
  </section>
  <!-- end عروض التسجيل -->

  <!-- start خدماتنا -->
  <section id="about">
      <div class="container">
          <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8 text-center">
                  <h2>ABOUT US</h2>
                  <p>Etiam elementum laoreet mauris. Ut rutrum feugiat neque. Suspendisse viverra gravida nulla. Duis sed enim vitae metus nonummy venenatis.</p>
              </div>
              <div class="col-md-12"></div>
              <div class="col-sm-6 col-md-6 info">
                  <h3>We are COMPOSITE</h3>
                  <h4>WEB DESIGN  DEVELOPMENT AGENCY</h4>
                  <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum dapibus lectus 	a ligula blandit ac egestas ipsum facilisis toque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum dapibus lectus 	a ligula blandit ac egestas ipsum facilisi.</p>
                  <p>Suspendisse potenti. Etiam elementum laoreet mauris. Ut rutrum feugiat neque. Suspendisse viverra gravida nulla. Duis sed enim vitae metus nonummy venenatis. Curabitur semper rutrum sapien. Mauris luctus.</p>
              </div>
              <div class="col-sm-6 col-md-6 skills">
                  <span>HTML5</span>
                      <span class="pull-right">100%</span>
                          <div class="progress">
                              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                          </div>
                  <span>CSS3</span>
                      <span class="pull-right">100%</span>
                          <div class="progress">
                              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                          </div>
                  <span>PHOTOSHOP</span>
                      <span class="pull-right">80%</span>
                          <div class="progress">
                              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                          </div>
                  <span>JQUERY</span>
                      <span class="pull-right">90%</span>
                          <div class="progress">
                              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                          </div>
              </div>
          </div>
      </div>
  </section>
  <!-- end خدماتنا-->

  

  <!-- start دروس تعليمية -->
  <section id="portfolio">
      <div class="container text-center">
          <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                  <h2>معرض الصور</h2>
                  <p>معرض الصور معرض الصور معرض الصور معرض الصور معرض الصور</p>
              </div>
              <div class="col-md-12"></div>
              <div class="col-sm-6 col-md-3">
                  <div class="image_thumb">
                      <img src="../../assets/images/image/1.jpg" class="img-responsive" alt="work">
                          <div class="image_overlay">
                              <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                          </div>
                  </div>
              </div>
              <div class="col-sm-6 col-md-3">
                  <div class="image_thumb">
                      <img src="../../assets/images/image/2.jpg" class="img-responsive" alt="work">
                          <div class="image_overlay">
                              <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                          </div>
                  </div>
              </div>
              <div class="col-sm-6 col-md-3">
                  <div class="image_thumb">
                      <img src="../../assets/images/image/3.jpg" class="img-responsive" alt="work">
                          <div class="image_overlay">
                              <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                          </div>
                  </div>
              </div>
              <div class="col-sm-6 col-md-3">
                  <div class="image_thumb">
                      <img src="../../assets/images/image/4.jpg" class="img-responsive" alt="work">
                          <div class="image_overlay">
                                  <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                          </div>
                  </div>
              </div>
              <div class="col-sm-6 col-md-3">
                  <div class="image_thumb">
                      <img src="../../assets/images/image/5.jpg" class="img-responsive" alt="work">
                          <div class="image_overlay">
                              <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                          </div>
                  </div>
              </div>
              <div class="col-sm-6 col-md-3">
                  <div class="image_thumb">
                      <img src="../../assets/images/image/6.jpg" class="img-responsive" width="740" height="460">
                          <div class="image_overlay">
                              <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                          </div>
                  </div>
              </div>
              <div class="col-sm-6 col-md-3">
                  <div class="image_thumb">
                      <img src="../../assets/images/image/7.jpg" class="img-responsive" width="740" height="460">
                          <div class="image_overlay">
                              <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                          </div>
                  </div>
              </div>
              <div class="col-sm-6 col-md-3">
                  <div class="image_thumb">
                      <img src="../../assets/images/image/9.jpg" class="img-responsive" width="740" height="460">
                          <div class="image_overlay">
                              <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                          </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- end دروس تعليمية -->

  <!-- start templatemo contact -->
  <section id="contact">
      <div class="container">
          <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8 text-center">
                  <h2>CONTACT US</h2>
                  <p>Suspendisse potenti. Etiam elementum laoreet mauris. Ut rutrum feugiat neque. Suspendisse viverra gravida nulla. Duis sed enim vitae metus nonummy venenatis. Curabitur semper rutrum sapien.</p>
              </div>
              <div class="col-md-12"></div>
              <div class="col-sm-6 col-md-4 address">
                  <h3>OUR ADDRESS</h3>
                  <p><i class="fa fa-phone"></i>  090-080-0980</p>
                  <p><i class="fa fa-envelope-o"></i> <a href="#">info@company.com</a></p>
                  <p><i class="fa fa-globe"></i> <a href="#">http://www.company.com</a></p>
                  <p><i class="fa fa-map-marker"></i> 360 Aenean Quis Semper, Maecenas 10450</p>
              </div>
              <div class="col-sm-6 col-md-8">
                  <form action="#" method="post" role="form">
                      <div class="col-md-6">
                          <input type="text" class="form-control" placeholder="Name">
                      </div>
                      <div class="col-md-6">
                          <input type="email" class="form-control" placeholder="Email">
                      </div>
                      <div class="col-md-12">
                          <input type="text" class="form-control" placeholder="Subject">
                      </div>
                      <div class="col-md-12">
                          <textarea class="form-control" rows="6" placeholder="Message"></textarea>
                      </div>
                      <div class="col-md-12">
                          <input type="submit" value="SEND MESSAGE" class="form-control">
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </section>
  <!-- end templatemo contact -->

  <!-- start templatemo footer -->
  <footer  id="footer"class="text-center">
      <div class="container">
          <div class="row">
              <div class="social_icon">
                  <a href="#" class="fa fa-facebook"></a>
                  <a href="#" class="fa fa-twitter"></a>
                  <a href="#" class="fa fa-linkedin"></a>
                  <a href="#" class="fa fa-tumblr"></a>
              </div>
              <p>Copyright © 2084 Your Company Name</p>
          </div>
      </div>
  </footer>
  <!-- end templatemo footer -->

  <!-- start back to top -->
  <a href="#top" class="go-top"><i class="fa fa-chevron-up fa-1x"></i></a>
  

</div>